/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/04/2015, 18:22:29
    Author     : Valdomiro
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/09/2014, 09:49:02
    Author     : Valdomiro
*/
    /*-----------------Css BreadCrumb---------------------*/

#migalhas {
    margin-left: 120px ; 
    font-family: Arial, Verdana; 
    font-size: 16px;
    color:#20B2AA;
 
}
#migalhas span {
    color:#000000;
    font-size: 13px;
    
}
.caminho{
    color:#20B2AA;
}


 /*---------------------CSS do Formulário------------------*/
 * { 
     margin: 0;
     padding: 0; 
 }
/*a { 
   
   font-family: Arial, Verdana; 
	font-size: 15px;
	font-style: oblique;
   
  }*/
  
.container{
    margin-left: 178px ; /*margin:20px auto*/
    width: 900px; 
    background: #fff;
}
h3 { 
     margin-bottom: 15px; 
     font-size: 22px; 
     text-shadow: 2px 2px 2px #ccc; 
}
	
#contactform {
	
	width: 667px;/*500px*/
	padding: 20px;/*20px*/
	background: #f0f0f0;
	overflow:auto;
	
	border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
	
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
	
}
	
.field{
    margin-bottom:7px;
}
.textarea {
	height:150px;	
	}

	
label {
	font-family: Arial, Verdana; 
	text-shadow: 2px 2px 2px #ccc;
	display: block; 
	float: left; 
	font-weight: bold; 
	margin-right:10px; 
	text-align: right; 
	width: 340px; /*120px*/
	line-height: 25px; 
	font-size: 15px; 
}
.input2{
    font-family: Arial, Verdana; 
	font-size: 14px; 
	padding: 5px; 
	border: 1px solid #b9bdc1; 
	width: 70px; 
	color: #000000;/* #797979*/
}
	
.input{
	font-family: Arial, Verdana; 
	font-size: 15px; 
	padding: 5px; 
	border: 1px solid #b9bdc1; 
	width: 300px;/* 300px*/ 
	color: #000000;/*#797979*/	
        
}
.tam{
	  font-family: Arial, Verdana; 
	font-size: 15px; 
	padding: 5px; 
	border: 1px solid #b9bdc1; 
	width: 30px; 
	color: #797979;	
}
fieldset{
    font-family: Arial, Verdana; 
    text-shadow: 2px 2px 2px #ccc; 
    font-weight: bold;
    text-align: left; 
    line-height: 25px; 
    font-size: 15px; 
}
	
.input:focus{
	background-color:#E7E8E7;	
}
	
.option {
	height:150px;	
}
	
.hint{
	display:none;
}
span{
	font-family: Arial, Verdana; 
	text-shadow: 2px 2px 2px #ccc;
	display: block; 
	float: left; 
	font-weight: bold; 
	margin-right:10px; 
	text-align: right; 
	width: 150px; /*120px*/
	/*line-height: 25px; */
	font-size: 15px; 

	
}
.user{
	  margin-bottom:7px;
}
	
.field:hover .hint {  
	position: absolute;
	display: block;  
	margin: -30px 0 0 650px;/*455*/
	color: #FFFFFF;
	padding: 7px 10px;
	background: rgba(0, 0, 0, 0.6);
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
}
	
.button{
	float: right;
	margin:10px 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor:pointer;   
	color: #fff;
	
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	
	/* Background gradient */
	background: #a5b8da;
	background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
	
	/* Border style */
  	border: 1px solid #5c6f91;  
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  
	/* Box shadow */
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	
}
	
.button:hover {
    background: #848FB2;
    cursor: pointer;
}
/*------------------------CSS de aplicacao do campo radio-------------------- */
input[type="radio"]{
 border: 3px solid #cc0000;/*#c00 */
 background-color: #20B2AA;
}
input[type='radio'] {
-webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
-webkit-appearance: none;
-webkit-margin-start: 0;
-webkit-margin-end: 3px;
-webkit-transition: border 500ms;
background: -webkit-linear-gradient(#fafafa, #dcdcdc);
border-radius: 100%;
border: 1px solid #a0a0a0;
display: inline-block;
height: 15px;
margin-bottom: 0;
position: relative;
top: 3px;
vertical-align: baseline;
width: 15px;
}
input[type='radio']:disabled {
opacity: .75;
}
input[type='radio']:not(:disabled):not(:active):hover {
background: -webkit-linear-gradient(#fff, #e6e6e6);
text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
input[type='radio']:not(:disabled):active {
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
background: -webkit-linear-gradient(#f0f0f0, #bebebe);
border: 1px solid #808080;
text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
input[type='radio']:checked::before {
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
-webkit-margin-start: 4px;
background: #000000;
border-radius: 10px;
content: '';
display: inline-block;
font-size: 13px;
font-weight: 400;
height: 5px;
left: 0;
margin-top: 4px;
opacity: 1;
position: absolute;
top: 0;
vertical-align: top;
width: 5px;
}
html[dir='rtl'] input[type='radio']:checked::before {
right: 0;
}
input[type='radio']:active:checked::before {
background: #000000;
}

/*-------------------------------------CSS das abas--------------------------------------------*/
/*a {
    color: #663399;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
}*/

#nav2 {
    display: block;
    clear: both;
    padding: 20px 0 0 6px;
    width: 991px;
 
    list-style: none;
	margin-left: 178px;
	overflow:auto;
}

#nav2 li {
    float: left;
    margin-right: 2px;
}

#nav2 li:last-child {
    margin: 0px;
}

#nav2 li a {
    display: block;
    background: transparent url('.././imagens/menu.png') no-repeat top left;
    height: 26px;
    width: 139px;
    text-decoration: none;
    text-shadow: #462161 1px 1px 0;
    color: #fff;
    text-align: center;
    padding-top: 14px;/*14px*/
    font-weight: 700;
    font-size: 11px;
}

#nav2 li a:active, #nav2 li a:hover, #nav2 li.active a {
    background: transparent url('.././imagens/menu-active.png') no-repeat top left;
    text-shadow: #afafaf 1px 1px 0;
    color: #663399;
}
/* ----------------------CSS das SUB-Abas----------------------------------*/
#nav3 {
    display: block;
    clear: both;
    padding: 7px 0 0 6px;/* 20px 0 0 6px*/
    width: 991px;
    list-style: none;
	margin-left: 178px;
	overflow:auto;
}

#nav3 li {
    float: left;
    margin-right: 2px;
}

#nav3 li:last-child {
    margin: 0px;
}

#nav3 li a {
    display: block;
    background: transparent url('.././imagens/menu.png') no-repeat top left;
    height: 26px;
    width: 139px;
    text-decoration: none;
    text-shadow: #462161 1px 1px 0;
    color: #fff;
    text-align: center;
    padding-top: 14px;/*14px*/
    font-weight: 700;
    font-size: 11px;
}

#nav3 li a:active, #nav3 li a:hover, #nav3 li.active a {
    background: transparent url('.././imagens/menu-active.png') no-repeat top left;
    text-shadow: #afafaf 1px 1px 0;
    color: #663399;
}

/*------------Rodape--------------------*/

.rodape 
{
	padding: 15px 0;
	color: #999;
	font-size: .9em;
	background: #2d2d2d;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.05), 0 -1px 0 rgba(0,0,0,0.2), inset 1px 0 0 rgba(0,0,0,0.2), inset -1px 0 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.05), 0 -1px 0 rgba(0,0,0,0.2), inset 1px 0 0 rgba(0,0,0,0.2), inset -1px 0 0 rgba(0,0,0,0.2);
}
.rodape a 
{
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 2px 0px #24282c;
}
.rodape a:hover 
{
 color: #25b695;
}
.info
{
 float: left;
 text-shadow: 0px 2px 0px #24282c;
}
.credito 
{
  float: right;
}



/* -----------------------------------CSS da tabela----------------------------------------- */
/* html{
	font-family: Helvetica, Arial,sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

body{
	margin: 10px;
}

h1{
	font-size:40px;
	font-family: Georgia, "Times New Roman", serif;
	letter-spacing:-2px;
}*/

/*a img{
	border:none;
}

form{
  background-color:#f2f2f2;
  width:600px;
  margin:10px 0 10px 0;
  text-align:center;
}

form p{
  padding:12px;
}

form p label{
  color:#333;
  font-weight:900;
}

form input{
  padding:6px;
  border:1px solid #ccc;
  width:300px;
}

table{
  width:600px;
  border:1px solid #ccc;
}


table thead th{
  background-color:#707070 ;
  padding:6px;
  color:#fff;
  text-align:center;
  font-size:14px;
}

table thead th.header{
  cursor:pointer;
}

table tbody td{
  padding:6px;
  text-align:center;
  color:#333;
}

table tbody tr.odd td{
  background-color:#C0C0C0;
}

table tbody tr.hover td{
  background-color:#3fafb8;
}

table tbody tr.selected td{
  background-color:#a9f5a9!important;
}

.pagedisplay{
	width:40px;
	text-align:center;
	border:none;
	background-color:#f2f2f2;
	font-weight:900;
}

#pager span{
	font-weight:900;
	display:inline-block;
	margin:0 0 0 20px;
	color:#666;
	float:right;
}

#pager form{
	text-align:left;
	padding:10px;
	width:580px;
}
*/

#select{
    margin-top: 10px;
    margin-left: 195px;
    width: 300px;
    height: 27px;
    
}

td #imgpos{
              
  margin-top:133px;
}



